

    <div>
        <mat-form-field  appearance="outline">
        <mat-label floatLabel="always" >Nome</mat-label>
        <input matInput [(ngModel)]="usuario.nome">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field  appearance="outline">
        <mat-label floatLabel="always" >e-mail</mat-label>
        <input matInput [(ngModel)]="usuario.email">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field  appearance="outline">
            <mat-label floatLabel="always" >senha</mat-label>
            <input type="password" matInput [(ngModel)]="usuario.senha">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field  appearance="outline">
        <mat-label floatLabel="always" >perfil</mat-label>
        <input matInput [(ngModel)]="usuario.perfil">
        </mat-form-field>
    </div>
    <div class="button-row">
      <button  (click)="gravar(usuario)" mat-raised-button color="primary">Gravar</button>
    </div>
