<nav class="navbar navbar-dark bg-primary">
    <div class="col-sm">
        <span class="navbar-brand mb-0 h1">Kronos-Hours</span>
    </div>
 </nav>
<div class="row">
    <div class="col-6 col-md-4"></div>
    <div class="col-6 col-md-4">
        <form [formGroup]="consultoriaForm" class="example-form" (submit)="gravar()">
            <div class="form-group">
                <label>razão social</label>
                <input 
                    formControlName="razaoSocial"
                    type="text" 
                    class="form-control"  
                    placeholder="razão social" 
                >
            </div>
            <div class="form-group">
                <label >nome comercial</label>
                <input
                    formControlName="nomeComercial"
                    type="text" 
                    class="form-control" 
                    placeholder="nome comercial" 
                >
            </div>
            <div class="form-group">
                    <label >cnpj</label>
                    <input
                        formControlName="cnpj"
                        type="text" 
                        class="form-control"  
                        placeholder="cnpj" 
                    >
            </div>
            <div class="button-row">
              <button type="submit" class="btn btn-primary  btn-block">Gravar</button>
            </div>
        </form>        
    </div>
    <div class="col-6 col-md-4"></div>
  </div>
  