<form class="example-form">
    <div>
        <mat-form-field  appearance="outline">
        <mat-label floatLabel="always" >razão social</mat-label>
        <input matInput [(ngModel)]="clienteEmpresa.razaoSocial" name="first">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field  appearance="outline">
        <mat-label floatLabel="always" >nome comercial</mat-label>
        <input matInput [(ngModel)]="clienteEmpresa.nomeComercial" name="first">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field  appearance="outline">
            <mat-label floatLabel="always" >cnpj</mat-label>
            <input matInput [(ngModel)]="clienteEmpresa.cnpj" name="first">
        </mat-form-field>
    </div>
    <div class="button-row">
      <button  (click)="gravar(clienteEmpresa)" mat-raised-button color="primary">Gravar</button>
    </div>
  </form>
